.movie-card{
  background: #FDFDFD;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.movie-card__container{
  display: grid;
  grid-template-columns: 1fr 14px;
  gap: 30px;
  margin: 16px 24px 17px 16px;
}

.movie-card__title{
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card__like{
  background: none no-repeat center center;
  padding: 0;
  width: 14px;
  height: 12px;
  border: none;
  outline: none;
  transition: opacity 0.2s ease-in-out;
}

.movie-card__like:hover{
  cursor: pointer;
  opacity: 0.5;
}

.movie-card__not-liked{
  background-image: url('../../images/dislike.svg');
}

.movie-card__liked{
  background-image: url('../../images/like.svg');
}

.movie-card:hover .movie-card__delete{
  background-image: url('../../images/delete_icon.svg');
  cursor: pointer;
}

.movie-card__duration{
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  align-items: center;
  color: #A0A0A0;
  margin: 0 0 0 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
}

.movie-card__image{
  overflow: hidden;
  width: 100%;
  height: 203px;
  display:block;
  object-fit: cover;
  object-position: center;
  border-radius: 6px 6px 0 0;
}

@media screen and (max-width: 1024px) {
  .movie-card__image{
    height: 190px;
  }
}

@media screen and (max-width: 768px) {
  .movie-card__container{
    margin: 14px 22px 15px 14px;
  }

  .movie-card__duration{
    margin-left: 14px;
    padding-bottom: 14px;
  }
}

@media screen and (max-width: 560px) {
  .movie-card{
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 320px) {
  .movie-card__image{
    max-height: 168px;
    height: auto;
  }

  .movie-card__title{
    font-size: 12px;
    line-height: 15px;
  }

  .movie-card__container{
    margin: 14px 18px 14px 14px;
  }

  .movie-card__duration{
    font-size: 10px;
    line-height: 12px;
  }

  .movie-card:last-child{
    margin-bottom: 26px;
  }
}