.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.profile__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 410px;
}


.profile__title{
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 123px 0;
}

.profile__fieldset{
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 410px;
}

.profile__input-container{
  display: flex;
  grid-gap: 40px;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 16px;
  margin-bottom: 7px;
  border-bottom: 1px solid #E8E8E8;;
}

.profile__input-container:last-of-type{
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.profile__input-label{
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  white-space: nowrap;
}

.profile__input{
  width: 100%;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  border: none;
  outline: none;
}

.profile__input-error{
  color:red;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  width: 100%;
  text-align: end;
  margin-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__button{
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  border: none;
  background: none;
  padding: 0;
  margin: 220px 0 16px 0;
  transition: opacity 0.2s ease-in-out;
}

.profile__button:hover{
  cursor: pointer;
  opacity: 0.6;
}

.profile__save-button_inactive{
  color: #A0A0A0;
}

.profile__save-button_inactive:hover{
  cursor: default;
  opacity: 1;
}

.profile__link{
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #FF4062;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
}

.profile__link:hover{
  opacity: 0.6;
}