.portfolio{
  margin: 100px 70px 125px 70px;
}

.portfolio__title{
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  mix-blend-mode: normal;
  margin: 0 0 50px 0;
}

.portfolio__list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio__list-item{
  padding: 0 0 19px 0;
  border-bottom: 1px solid #E8E8E8;
  margin-top: 20px;
}

.portfolio__list-item:last-child{
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio__list-item:first-child{
  margin-top: 0;
}

.portfolio__link{
  text-decoration: none;
  color: black;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  display: block;
  width: 100%;
  margin: 0;
  background: url('../../images/portfolio__arrow.svg') no-repeat center right;
  transition: opacity 0.2s ease-in-out;
}

.portfolio__link:hover{
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .portfolio{
    margin: 90px 50px;
  }

  .portfolio__link{
    font-size: 28px;
  }
}