.promo{
  min-height: 524px;
  background: #F3C1F8 url(../../images/landing-logo.svg) center center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center 82px;
}

.promo__title{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 184px 0 auto 0;
  max-width: 730px;
}

@media screen and (max-width: 768px) {
  .promo{
    min-height: 784px;
    background-position: center 224px;
  }

  .promo__title{
    margin: 326px 19px auto 19px;
  }
}

@media screen and (max-width: 640px) {
  /* .promo{
    min-height: 784px;
    background-position: center 224px;
  } */

  .promo__title{
    font-size: 46px;
    line-height: 52px;
    margin: 326px 19px auto 19px;
  }
}

@media screen and (max-width: 480px) {
  .promo{
    min-height: 570px;
    background-size: 248px;
    background-position: center 142px;
  }

  .promo__title{
    font-size: 31px;
    line-height: 39px;
    max-width: 300px;
    margin: 207px 0 auto 0;
  }
}
