.search{
  margin: 70px 70px 48px 70px;
}

.search-form__input-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 13px;
  box-sizing: border-box;
  border-bottom: 1px solid #E8E8E8;
}

.search-form__input{
  outline: none;
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  padding: 0;
  margin-right: 20px;
}

.search-form__input-container:focus-within{
  border-bottom: 1px solid black;
}

.search-form__input::placeholder{
  color: #A0A0A0;
}

.search-form__input:focus .search-form__input-container{
  border-bottom: 1px solid red;
}

.search-form__button{
  background: none;
  background-image: url('../../images/search-form-btn.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 38px;
  height: 34px;
  border: none;
  padding: 0;
  margin: 0;
  transition: opacity 0.2s ease-in-out;
}

.search-form__button:hover{
  opacity: 0.5;
  cursor: pointer;
}

.search-form__filter{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 32px;
}

.search-form__filter-btn{
  background: none;
  background-image: url('../../images/smalltumb.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 20px;
  border: none;
  padding: 0;
  margin: 0 14px 0 0;
}

.search-form__filter-name{
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  vertical-align:middle;
}

@media screen and (max-width: 1024px) {
  .search{
    margin: 80px 30px 60px 30px;
  }
}

@media screen and (max-width: 768px) {
  .search-form__filter{
    margin-top: 31px;
    flex-direction: row-reverse;
  }

  .search-form__filter-btn{
    margin: 0 0 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .search{
    margin: 84px 14px 51px 14px;
  }

  .search-form__input{
    font-size: 18px;
    line-height: 22px;
  }

  .search-form__filter{
    margin-top: 40px;
    flex-direction: row-reverse;
    justify-content: center;
  }
  
  .search-form__input-container{
    padding-bottom: 8px;
  }

  .search-form__filter-name{
    font-size: 11px;
    line-height: 18px;
  }
}