.project{
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}

.project__info-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 26px 40px;
  grid-auto-flow: column;
}

.project__timing{
  grid-template-columns: 1fr 4fr;
  gap: 0;
  margin: 110px 0;
}

.project__info-subtitle{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 70px 0 0 0;
}

.project__info-text{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.project__timing-period{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background: #F2F2F2;
  padding: 9px 0;
  margin: 0 0 14px 0;
}

.project__timing-period_black{
  color: #FFFFFF;
  background: #000000;
}

.project__timing-name{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .project__info-list{
    grid-gap: 22px 30px;
  }

  .project__timing{
    margin: 93px 0 90px 0;
  }
  .project__info-text{
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 560px) {
  .project__info-list{
    display: block;
  }

  .project__info-subtitle{
    font-size: 20px;
    line-height: 24px;
    margin: 58px 0 16px 0;
  }

  .project__info-text{
    font-size: 12px;
    line-height: 16px;
  }

  .project__timing{
    grid-template-columns: 100px 1fr;
    margin: 60px 0 70px 0;
  }

  .project__timing-period{
    font-size: 11px;
    line-height: 13px;
    padding: 11px 0;
    margin-bottom: 10px;
  }

  .project__timing-name{
    font-size: 11px;
    line-height: 13px;
  }
}

@media screen and (max-width: 320px) {

  .project__info-subtitle{
    font-size: 18px;
    line-height: 22px;
  }

  .project__info-text{
    font-size: 11px;
    line-height: 16px;
  }
}