.navtab{
  min-height: 66px;
  background: #000000;
  display: flex;
  justify-content: center;
}

.navtab__list{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  list-style: none;
  padding: 0;
}

.navtab__item{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin-right: 40px;
  transition: opacity 0.2s ease-in-out;
}

.navtab__item:last-child{
  margin-right: 0;
}

.navtab__item:hover{
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navtab__item{
    font-size: 11px;
    margin-right: 24px;
  }
}